;TIP: one can comment lines in this config format by adding a ; at the start of a line

[experiment]

log_scores_over_time=False
print_simlex=True

[data]

distributional_vectors = ../glove-twitter-100.txt

; lists with files containing antonymy and synonymy constraints should be inside square brackets, delimited by commas.
antonyms = [linguistic_constraints/full-ant-sample.noprefix.txt]
synonyms = [linguistic_constraints/full-syn-sample.noprefix.txt]

; if either types of constraints are not used, that can be specified as follows:
;antonyms = []
;synonyms = []

output_filepath=results/final_vectors_ant_syn.txt

[hyperparameters]

attract_margin = 1.0
repel_margin = 0.0
batch_size = 50
l2_reg_constant = 0.000000001
max_iter = 5
