;TIP: one can comment lines in this config format by adding a ; at the start of a line

[experiment]

log_scores_over_time=False
print_simlex=False

[data]

distributional_vectors = /disk/scratch/s1948359/attract-repel/w2v_wiki_new_final.txt.vectors

; lists with files containing antonymy and synonymy constraints should be inside square brackets, delimited by commas.
antonyms = [/home/s1948359/embedding_bias/attract-repel/pleasant_exp_syn.txt]
synonyms = [/home/s1948359/embedding_bias/attract-repel/pleasant_exp_ant.txt]

; if either types of constraints are not used, that can be specified as follows:
;antonyms = []
;synonyms = []

output_filepath=/disk/scratch/s1948359/attract-repel/gender_pleasant_w2v_debias.vectors

[hyperparameters]

attract_margin = 0.6
repel_margin = 0.0
batch_size = 50
l2_reg_constant = 0.000000001
max_iter = 5
