;TIP: one can comment lines in this config format by adding a ; at the start of a line

[experiment]

log_scores_over_time=False
print_simlex=False

[data]

distributional_vectors = /disk/scratch/s1303513/ft_new_vectors.txt

; lists with files containing antonymy and synonymy constraints should be inside square brackets, delimited by commas.
antonyms = [/disk/scratch/s1303513/weat8_ant_t5.txt]
synonyms = [/disk/scratch/s1303513/weat8_syn_t5.txt]

; if either types of constraints are not used, that can be specified as follows:
;antonyms = []
;synonyms = []

output_filepath=/disk/scratch/s1303513/ar_vectors_t5.txt

[hyperparameters]

attract_margin = 0.6
repel_margin = 0.0
batch_size = 50
l2_reg_constant = 0.000000001
max_iter = 5
